.Dropzone {
  width: 400px;
  height: 300px;
  border: 1px dashed black;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  
  &__text {
    height: 300px;
    padding-top: 10px;
  }
}
